
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,800;0,900;1,600;1,800&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

header {
    width: 100%;
    height: 700px;
    background-color: rgb(211, 230, 247);
    overflow: hidden;
}

header nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 150px;
    z-index: 1;
    transform: translateY(-500px);
    transition: 0.2s all ease-in;
    background-color: rgb(189, 141, 216);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav li {
    list-style: none;
    cursor: pointer;
}

nav li i {
    margin-right: 4px;
    padding: 8px;
    color: rgb(255, 255, 255);
}


.menu-logo img {
    width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    margin: 16px;
    z-index: 5;
}

header .menu-logo {
    position: relative;

}

header .menu-logo .zmdi-menu {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    z-index: 5;
    font-size: 32px;
}

header .menu-logo:hover nav {
    transform: translateY(55px);
    z-index: 5;
}

header nav li:hover {
    background-color: rgb(205, 159, 231);
}

header.content-header {
    width: 100%;
    overflow: hidden;
    position: relative;
}

header .content-header img {
    position: absolute;
    top: 90px;
    margin: 0 auto;
    width: 450px;
    z-index: 3;
    filter: drop-shadow(5px 8px rgb(162, 210, 255));
}

header .content-header .cloud-1 img {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 180px;
    z-index: 3;
    filter: drop-shadow(5px 8px rgb(162, 210, 255));
}

header .content-header .cloud-2 img {
    position: absolute;
    top: 370px;
    left: 380px;
    width: 90px;
    z-index: 3;
    filter: drop-shadow(5px 8px rgb(162, 210, 255));
    opacity: 0.8;
}

header .content-header .cloud-3 img {
    position: absolute;
    top: 455px;
    left: 10px;
    width: 250px;
    z-index: 3;
    filter: drop-shadow(5px 8px rgb(162, 210, 255));
}

header .content-header .cloud-4 img {
    display: none;
}



.heading-area {
    position: relative;
    top: 0;
    left: 0;
    height: 600px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}

.rainbow-letters {
    font-size: 3.2em;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 450px;
    position: absolute;
    z-index: 6;
    font-weight: 800;
    text-shadow: rgb(125, 93, 143) 5px 4px 1px;
}


/* ตัวที่เท่าไหร่จากทั้งหมด 10n ตัว */
.rainbow-letters span:nth-child(10n + 1) {
    color: #e49187;
}

.rainbow-letters span:nth-child(10n + 2) {
    color: #e28992;
}

.rainbow-letters span:nth-child(10n + 3) {
    color: #e28c64;
}

.rainbow-letters span:nth-child(10n + 5) {
    opacity: 0;
    font-size: 10px;
}

.rainbow-letters span:nth-child(10n + 4) {
    color: #e2ab5e;
}

.rainbow-letters span:nth-child(10n + 6) {
    color: #85b36b;
}

.rainbow-letters span:nth-child(10n + 7) {
    color: #5aa187;
}

.rainbow-letters span:nth-child(10n + 8) {
    color: #74bad1;
}

.rainbow-letters span:nth-child(10n + 9) {
    color: #868ce2;
}

.heading-area p {
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 150px;
    text-align: center;
    background-color: rgb(189, 141, 216);
    padding: 4px 0;
    cursor: pointer;
    position: absolute;
    z-index: 6;
    font-weight: 600;
    margin-top: 630px;
    font-size: 18px;
}

.heading-area p:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(248, 175, 203);
    position: absolute;
    z-index: 6;
}



#about {
    width: 100%;
    height: 2660px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 2500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 320px 320px 320px 320px 320px 300px 320px 320px;
    z-index: 5;
    top: 0;
}

.box {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    padding: 16px;
    top: 0;
}

.box img {
    width: 230px;
}

.box h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5em;
    margin-top: 70px;
    padding: 30px;
    font-weight: 800;
}

.box h3 {
    color: white;
    padding: 5px 20px;
    font-size: 22px;
    font-size: 1.6em;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.box h4 {
    font-size: 1em;
    color: rgb(248, 248, 248);
    line-height: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    padding: 5px 20px;
}

.box p {
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 100px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
    margin-top: 10px;
    font-size: 13px;
    background-color: white;
    font-weight: 600;
}

.box:nth-of-type(1) {
    grid-column: 1 /span 2;
    justify-content: center;
    align-items: center;
    background: rgb(242, 170, 155);
}

.box:nth-of-type(2) {
    grid-column: 1 /span 1;
    grid-row: 2 /span 1;
    justify-content: center;
    align-items: flex-start;
    background: rgb(242, 170, 155);
    background: linear-gradient(180deg, rgba(242, 170, 155, 1) 90%, rgba(245, 170, 175, 1) 100%);
}

.box:nth-of-type(3) {
    grid-column: 2 /span 1;
    grid-row: 2 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(242, 170, 155);
    background: linear-gradient(180deg, rgba(242, 170, 155, 1) 90%, rgba(245, 170, 175, 1) 100%);
}

.box:nth-of-type(3) h3 {
    color: #cf7063;
}

.box:nth-of-type(3) p {
    color: #ffffff;
    background-color: #E28478;
}

.box:nth-of-type(3) p:hover {
    color: #E28478;

    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(4) {
    grid-column: 1 /span 1;
    grid-row: 3 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(245, 170, 175);
    background: linear-gradient(180deg, rgba(245, 170, 175, 1) 90%, rgba(242, 167, 100, 1) 100%);
}

.box:nth-of-type(4) h3 {
    color: #ca626d;
}

.box:nth-of-type(4) p {
    color: #ffffff;
    background-color: #E17984;
}

.box:nth-of-type(4) p:hover {
    color: #E17984;
    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(5) {
    grid-column: 2 /span 1;
    grid-row: 3 /span 1;
    justify-content: center;
    align-items: flex-end;
    background: rgb(245, 170, 175);
    background: linear-gradient(180deg, rgba(245, 170, 175, 1) 90%, rgba(242, 167, 100, 1) 100%);
}

.box:nth-of-type(6) {
    grid-column: 1 /span 1;
    grid-row: 4 /span 1;
    justify-content: center;
    align-items: flex-start;
    background: rgb(242, 167, 100);
    background: linear-gradient(180deg, rgba(242, 167, 100, 1) 90%, rgba(244, 209, 64, 1) 100%);
}

.box:nth-of-type(7) {
    grid-column: 2 /span 1;
    grid-row: 4 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(242, 167, 100);
    background: linear-gradient(180deg, rgba(242, 167, 100, 1) 90%, rgba(244, 209, 64, 1) 100%);
}

.box:nth-of-type(7) h3 {
    color: #c26e47;
}

.box:nth-of-type(7) p {
    color: #ffffff;
    background-color: #DF8054;
}

.box:nth-of-type(7) p:hover {
    color: #DF8054;
    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(8) {
    grid-column: 1 /span 1;
    grid-row: 5 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(244, 209, 64);
    background: linear-gradient(180deg, rgba(244, 209, 64, 1) 90%, rgba(163, 207, 118, 1) 100%);
}

.box:nth-of-type(8) h3 {
    color: #c48d41;
}

.box:nth-of-type(8) p {
    color: #ffffff;
    background-color: #E1A14A;
}

.box:nth-of-type(8) p:hover {
    color: #E1A14A;
    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(9) {
    grid-column: 2 /span 1;
    grid-row: 5 /span 1;
    justify-content: center;
    align-items: flex-end;
    background: rgb(244, 209, 64);
    background: linear-gradient(180deg, rgba(244, 209, 64, 1) 90%, rgba(163, 207, 118, 1) 100%);
}

.box:nth-of-type(10) {
    grid-column: 1 /span 1;
    grid-row: 6 /span 1;
    justify-content: center;
    align-items: flex-start;
    background: rgb(163, 207, 118);
    background: linear-gradient(180deg, rgba(163, 207, 118, 1) 90%, rgba(93, 189, 152, 1) 100%);
}

.box:nth-of-type(11) {
    grid-column: 2 /span 1;
    grid-row: 6 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(163, 207, 118);
    background: linear-gradient(180deg, rgba(163, 207, 118, 1) 90%, rgba(93, 189, 152, 1) 100%);
}

.box:nth-of-type(11) h3 {
    color: #608a49;
}

.box:nth-of-type(11) p {
    color: #ffffff;
    background-color: #7AAE5B;
}

.box:nth-of-type(11) p:hover {
    color: #7AAE5B;
    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(12) {
    grid-column: 1 /span 1;
    grid-row: 7 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(93, 189, 152);
    background: linear-gradient(180deg, rgba(93, 189, 152, 1) 90%, rgba(159, 214, 234, 1) 100%);
}

.box:nth-of-type(12) h3 {
    color: #408068;
}

.box:nth-of-type(12) p {
    color: #ffffff;
    background-color: #4F9F82;
}

.box:nth-of-type(12) p:hover {
    color: #4F9F82;
    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(13) {
    grid-column: 2 /span 1;
    grid-row: 7 /span 1;
    justify-content: center;
    align-items: flex-end;
    background: rgb(93, 189, 152);
    background: linear-gradient(180deg, rgba(93, 189, 152, 1) 90%, rgba(159, 214, 234, 1) 100%);
}

.box:nth-of-type(14) {
    grid-column: 1 /span 1;
    grid-row: 8 /span 1;
    justify-content: center;
    align-items: flex-start;
    background: rgb(159, 214, 234);
    background: linear-gradient(180deg, rgba(159, 214, 234, 1) 90%, rgba(169, 182, 216, 1) 100%);
}

.box:nth-of-type(15) {
    grid-column: 2 /span 1;
    grid-row: 8 /span 1;
    justify-content: center;
    align-items: center;
    background: rgb(159, 214, 234);
    background: linear-gradient(180deg, rgba(159, 214, 234, 1) 90%, rgba(169, 182, 216, 1) 100%);
}

.box:nth-of-type(15) h3 {
    color: #5599af;
}

.box:nth-of-type(15) p {
    color: #ffffff;
    background-color: #67B7D2;
}

.box:nth-of-type(15) p:hover {
    color: #67B7D2;

    background-color: rgb(255, 255, 255);
}

.box:nth-of-type(16) {
    grid-column: 1 /span 1;
    grid-row: 9 /span 1;
    justify-content: center;
    align-items: center;
    background-color: #A9B6D8;
}

.box:nth-of-type(16) h3 {
    color: #676dc4;
}

.box:nth-of-type(16) p {
    color: #ffffff;
    background-color: #787fe2;
}

.box:nth-of-type(16) p:hover {
    color: #787fe2;
    background-color: rgb(255, 255, 255);
}


.box:nth-of-type(17) {
    grid-column: 2 /span 1;
    grid-row: 9 /span 1;
    justify-content: center;
    align-items: flex-end;
    background-color: #A9B6D8;
}



.content-container {
    background-color: royalblue;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    padding: 30px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content img {
    width: 100%;
}

.content h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 16px;
    color: #f39cbd;
}



#shop {
    width: 100%;
    height: 2150px;
    background-color: rgb(255, 236, 175);
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.content-shop {
    width: 100%;
    height: 1650px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 100px 300px 300px 300px 300px 300px 300px 150px;
    z-index: 5;
    padding-top: 20px;
    top: 0;
    left: 0;

}

.contentbox {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    margin: 20px;
}

.contentbox img {
    width: 100%;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

.contentbox h1 {
    color: #7a6357;
    font-size: 2.5em;
    padding: 16px;
    text-align: center;
    font-weight: 800;
}

.contentbox:hover img {
    opacity: 0.4;
}

.contentbox h3 {
    color: white;
    padding: 16px;
    display: none;
    position: absolute;
    z-index: 2;
    margin-bottom: 55px;
    font-size: 22px;
    font-weight: 800;
}

.contentbox:hover h3 {
    display: block;
}

.contentbox h4 {
    color: white;
    padding: 16px;
    display: none;
    position: absolute;
    z-index: 2;
    margin-bottom: 30px;
    font-size: 14px;
    color: rgb(233, 233, 233);
    font-weight: 600;
}

.contentbox:hover h4 {
    display: block;
}

.contentbox h5 {
    color: white;
    padding: 16px;
    display: none;
    position: absolute;
    z-index: 2;
    font-size: 14px;
    color: rgb(233, 233, 233);
    font-weight: 600;
    margin-bottom: 10px;
}

.contentbox:hover h5 {
    display: block;
}

.contentbox p {
    color: rgb(255, 255, 255);
    border-radius: 16px;
    width: 120px;
    text-align: center;
    background-color: rgb(218, 143, 94);
    padding: 6px 0;
    cursor: pointer;
    position: absolute;
    z-index: 6;
    font-weight: 700;
}

.contentbox span {
    font-weight: 800;
}

.contentbox p:hover {
    color: rgb(218, 143, 94);
    background-color: rgb(255, 255, 255);
}

.contentbox:nth-of-type(1) {
    grid-column: 1 /span 3;
    grid-row: 1 /span 1;
    justify-content: center;
    align-items: center;
}

.contentbox:nth-of-type(2) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 2 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}

.contentbox:nth-of-type(3) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 3 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}

.contentbox:nth-of-type(4) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 4 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}

.contentbox:nth-of-type(5) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 5 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}


.contentbox:nth-of-type(6) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 6 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}

.contentbox:nth-of-type(7) {
    background-color: #000000;
    grid-column: 2 /span 1;
    grid-row: 7 /span 1;
    box-shadow: 0px 0px 8px rgb(139, 115, 63);
}

.contentbox:nth-of-type(8) {
    grid-column: 2 /span 1;
    grid-row: 8 /span 1;
    justify-content: center;
    align-items: center;
}



#contact {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 50px 60px 30px 30px 30px 100px;
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social img {
    width: 100%;
    margin-right: 26px;
    margin-top: 30px;
}

.social h1 {
    color: #f790b8;
    font-size: 2em;
    padding: 16px;
    text-align: center;
    margin-left: 20px;
    font-weight: 800;
}

.social p {
    font-size: 14px;
    align-items: flex-start;
    color: #f8a7c6;
    font-weight: 700;
}

.social i {
    color: #f8a7c6;
    cursor: pointer;
}


.social .zmdi-instagram {
    margin: 0 14px 0 16px;
}

.social .zmdi-facebook {
    margin-left: 30px;
    margin-right: 20px;
}

.social .zmdi-twitter {
    margin-left: 33px;
    margin-right: 10px;
}

.social:nth-of-type(1) {
    grid-column: 1 /span 1;
    grid-row: 3 /span 1;
}

.social:nth-of-type(2) {
    grid-column: 1 /span;
    grid-row: 4 /span 1;
    justify-content: center;
}

.social:nth-of-type(3) {
    grid-column: 1 /span 1;
    grid-row: 5 /span 1;
    justify-content: center;
}

.social:nth-of-type(4) {
    grid-column: 1 /span 1;
    grid-row: 6 /span 1;
    justify-content: center;
}


.social:nth-of-type(5) {
    grid-column: 2 /span 1;
    grid-row: 1 /span 7;
    margin-top: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 32px;
}



footer {
    width: 100%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    background: rgb(189, 141, 216);
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.copyright img {
    width: 15px;
    margin: 0 8px 0 16px;
}

.copyright p {
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.copyright i {
    color: white;
    margin-left: 20px;
}

.copyright:nth-of-type(1) {
    grid-column: 1 /span 2;
    grid-row: 1 /span 1;
    margin-right: 16px;
}

@media screen and (min-width: 600px) {
    header {
        height: 750px;
    }

    header .menu-logo .zmdi-menu {
        display: none;
        background-color: aquamarine
    }

    .content-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 32px;
    }

    header nav {
        position: static;
        transform: translateX(0);
        flex-direction: row;
        width: auto;
        height: 30px;
        top: 16px;
        padding: 16px;
        justify-content: flex-end;
        background-color: rgb(189, 141, 216);
    }

    header nav li:hover {
        border-bottom: 3px solid white;
    }


    header .menu-logo:hover nav {
        transform: none;
    }

    header .content-header img {
        position: absolute;
        top: 100;
        right: 70px;
        width: 650px;
        z-index: 3;
    }

    header .content-header .cloud-1 img {
        position: absolute;
        top: 100;
        margin-top: 10px;
        margin-right: 450px;
        width: 200px;
        z-index: 3;
        filter: drop-shadow(5px 8px rgb(162, 210, 255));
    }

    header .content-header .cloud-2 img {
        position: absolute;
        top: 520px;
        right: 0;
        margin-right: 50px;
        width: 90px;
        z-index: 3;
        filter: drop-shadow(5px 8px rgb(162, 210, 255));
        opacity: 1;
    }

    header .content-header .cloud-3 img {
        position: absolute;
        top: 540px;
        margin-right: 600px;
        left: 0;
        width: 200px;
        z-index: 3;
        filter: drop-shadow(5px 8px rgb(162, 210, 255));
    }

    header .content-header .cloud-4 img {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 230px;
        margin-left: 50px;
        width: 350px;
        z-index: 7;
        filter: drop-shadow(5px 8px rgb(162, 210, 255));
        display: block;
    }



    .heading-area {
        position: relative;
        top: 0;
        left: 0;
        width: 650px;
        height: 700px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .heading-area h1 {
        color: rgb(205, 180, 219);
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 16px;
        margin: 0 auto;
        text-shadow: rgb(125, 93, 143) 5px 5px 1px;
        position: absolute;
        z-index: 6;
    }

    .heading-area p {
        color: rgb(255, 255, 255);
        border-radius: 16px;
        width: 150px;
        text-align: center;
        background-color: rgb(189, 141, 216);
        padding: 4px 0;
        cursor: pointer;
        position: absolute;
        z-index: 6;
        margin-top: 170px;
    }

    .rainbow-letters {
        position: absolute;
        z-index: 7;
        font-size: 4.5em;
    }



    #about {
        width: 100%;
        height: 3780px;
        background-color: rgb(255, 255, 255);
        position: relative;
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .container {
        width: 100%;
        height: 3480px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 180px 450px 450px 450px 450px 450px 450px 450px 450px;
        z-index: 5;
        top: 0;
    }

    .box {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        padding: 16px;
        top: 0;
    }

    .box h1 {
        color: rgb(255, 255, 255);
        font-size: 3em;
        margin-top: 70px;
        padding: 30px;
        font-weight: 800;
    }

    .box h3 {
        color: white;
        padding: 5px 20px;
        font-size: 2em;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
    }

    .box h4 {
        font-size: 1.3em;
        color: rgb(248, 248, 248);
        line-height: 30px;
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
        padding: 5px 20px;
    }

    .box p {
        color: rgb(255, 255, 255);
        border-radius: 16px;
        width: 100px;
        text-align: center;
        padding: 5px 8px;
        cursor: pointer;
        margin-top: 20px;
        font-size: 16px;
        background-color: white;
        font-weight: 600;
    }

    .box img {
        width: 360px;
        margin: 0 auto;
    }



    .content-container {
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .content h2 {
        font-size: 2.2em;
    }

    .content img {
        width: 95%;
        margin-top: 20px;
    }



    #shop {
        width: 100%;
        height: 1450px;
        background-color: rgb(255, 236, 175);
        position: relative;
        margin: 0 auto;
        top: 0;
        left: 0;
    }

    .content-shop {
        width: 100%;
        height: 1250px;
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 200px 500px 500px 150px;
        z-index: 5;
        padding-top: 20px;
        top: 0;
        left: 0;
        box-sizing: border-box;
    }

    .contentbox {
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        overflow: hidden;
        margin: 36px;
    }

    .contentbox img {
        width: 100%;
        height: 100%;
        align-items: center;
        cursor: pointer;
    }

    .contentbox h1 {
        color: #7a6357;
        font-size: 3em;
        padding: 16px;
        text-align: center;
        font-weight: 800;
    }

    .contentbox:hover img {
        opacity: 0.4;
    }

    .contentbox h3 {
        color: white;
        padding: 16px;
        display: none;
        position: absolute;
        z-index: 2;
        margin-bottom: 80px;
        font-size: 22px;
        font-size: 1.6em;
        font-weight: 800;
    }

    .contentbox:hover h3 {
        display: block;
    }

    .contentbox h4 {
        color: white;
        padding: 16px;
        display: none;
        position: absolute;
        z-index: 2;
        margin-bottom: 45px;
        font-size: 18px;
        color: rgb(233, 233, 233);
        font-weight: 600;
    }

    .contentbox:hover h4 {
        display: block;
    }

    .contentbox h5 {
        color: white;
        padding: 16px;
        display: none;
        position: absolute;
        z-index: 2;
        font-size: 18px;
        color: rgb(233, 233, 233);
        margin-bottom: 20px;
        font-weight: 600;
    }

    .contentbox:hover h5 {
        display: block;
    }

    .contentbox p {
        color: rgb(255, 255, 255);
        border-radius: 20px;
        width: 150px;
        text-align: center;
        background-color: rgb(218, 143, 94);
        padding: 7px 18px;
        cursor: pointer;
        position: absolute;
        z-index: 6;
        font-weight: 700;
        font-size: 22px;
    }

    .contentbox span {
        font-weight: 800;
    }

    .contentbox p:hover {
        color: rgb(218, 143, 94);
        background-color: rgb(255, 255, 255);
    }

    .contentbox:nth-of-type(1) {
        grid-column: 1 /span 3;
        grid-row: 1 /span 1;
        justify-content: center;
        align-items: center;
    }

    .contentbox:nth-of-type(2) {
        background-color: #000000;
        grid-column: 1 /span 1;
        grid-row: 2 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }

    .contentbox:nth-of-type(3) {
        background-color: #000000;
        grid-column: 2 /span 1;
        grid-row: 2 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }

    .contentbox:nth-of-type(4) {
        background-color: #000000;
        grid-column: 3 /span 1;
        grid-row: 2 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }

    .contentbox:nth-of-type(5) {
        background-color: #000000;
        grid-column: 1 /span 1;
        grid-row: 3 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }


    .contentbox:nth-of-type(6) {
        background-color: #000000;
        grid-column: 2 /span 1;
        grid-row: 3 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }

    .contentbox:nth-of-type(7) {
        background-color: #000000;
        grid-column: 3 /span 1;
        grid-row: 3 /span 1;
        box-shadow: 0px 0px 8px rgb(139, 115, 63);
    }

    .contentbox:nth-of-type(8) {
        grid-column: 2 /span 1;
        grid-row: 4 /span 1;
        justify-content: center;
        align-items: center;
    }

    #contact {
        width: 100%;
        height: 590px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 50px 120px 60px 60px 60px 100px;
        background-color: rgb(255, 255, 255);
        gap: 10px;
    }

    .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .social img {
        width: 430px;
        margin-right: 26px;
        margin-top: 30px;
    }

    .social h1 {
        color: #f790b8;
        font-size: 3em;
        padding: 16px;
        text-align: center;
        margin-left: 20px;
        font-weight: 800;
    }

    .social p {
        font-size: 1.5em;
        align-items: flex-start;
        color: #f8a7c6;
        font-weight: 700;
    }

    .social i {
        color: #f8a7c6;
        cursor: pointer;
    }


    .social .zmdi-instagram {
        margin: 0 14px 0 16px;
    }

    .social .zmdi-facebook {
        margin-left: 30px;
        margin-right: 20px;
    }

    .social .zmdi-twitter {
        margin-left: 33px;
        margin-right: 10px;
    }

    .social:nth-of-type(1) {
        grid-column: 1 /span 1;
        grid-row: 3 /span 1;
    }

    .social:nth-of-type(2) {
        grid-column: 1 /span;
        grid-row: 4 /span 1;
        justify-content: center;
    }

    .social:nth-of-type(3) {
        grid-column: 1 /span 1;
        grid-row: 5 /span 1;
        justify-content: center;
    }

    .social:nth-of-type(4) {
        grid-column: 1 /span 1;
        grid-row: 6 /span 1;
        justify-content: center;
    }

    .social:nth-of-type(5) {
        grid-column: 2 /span 1;
        grid-row: 1 /span 7;
        margin-top: 50px;
        justify-content: center;
        align-items: flex-start;
        margin-right: 32px;
    }



    footer {
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px;
    }

    .copyright p {
        font-size: 18px;
    }

}